<script>
	function send_point() {
		var id = $('#employee_registry').val();
		var password = $('#employee_password').val();
		$.post('/points', {
			id : id,
			password : password
		});
	}
</script>
<div id="retorno_ponto"></div>

<div class="well" style="padding-left:30%">
	<label>Matrícula</label>
	<%= text_field_tag :employee_registry %>
	<label>Senha</label>
	<%= password_field_tag :employee_password %>
	<button type="submit" class="btn" onclick="send_point()">
		<i class="icon-time"></i>
	</button>
</div>